@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --black: rgba(0,0,0,255);
    --ltblue: rgba(61,223,247,255);
    --babyblue: rgb(240, 244, 247);
    --white: rgba(255,255,255,255);
    --orange: rgba(247,104,6,255);
    --grblue: rgb(45, 153, 170);
}

body {
    background-color: var(--babyblue);
}

header {
    background-color: var(--black);
    overflow: hidden;
    width: 100%;
}

.corpus {
    height: 50px;
    margin: 10px 20px;
}

/* animated xs */
.toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid var(--white); */
    margin-right: 20px;
}
  
.toggle__burger{
    width: 30px;
    height: 3px;
    background: var(--white);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
  
.toggle__burger::before,
.toggle__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--white);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
  
.toggle__burger::before {
    transform: translateY(-10px);
  }
  
.toggle__burger::after {
    transform: translateY(10px);
}
  
/* ANIMATION */
.toggle.active .toggle__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.toggle.active .toggle__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.toggle.active .toggle__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
  
.top-nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    display: none;
    transition: all 400ms ease-in-out;
}

nav.active {
    display: flex;
}

nav a {
    color: var(--white);
    text-transform: uppercase;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100px;
    text-align: center;
    transition: all 400ms ease-in-out;
}
  
nav a:hover {
    background-color: var(--ltblue);
    color: black;
}

.poster {
    width: 100%;
    padding: 20px 0;
}

main, footer {
    background-color: var(--babyblue);
    margin: 0 20px;
}

.pic {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;

}

h2 {
    padding: 30px 0 15px;
    font-size: 1.6rem;
}

container p {
    text-align: justify;
}

h3 {
    padding: 10px 0;
}

h1 {
    padding: 30px 0 10px;
    text-transform: uppercase;
}

.actor {
    font-weight: 700;
}

container li {
    list-style-type: none;
    padding-bottom: 10px;
}

.corpus-black, .sage {
    height: 50px;
    margin: 10px 0 5px;
}

.icons {
    text-align: right;
    font-size: 2rem;
    padding: 0 0 25px;
}

.fa-facebook-f, .fa-instagram, .fa-flickr {
    padding: 0 10px;
    color: var(--black);
    transition: all 0.3s ease-in-out;
}

.fa-facebook-f:hover, .fa-instagram:hover, .fa-flickr:hover {
    color: var(--orange);
}

/* following code is for the button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--grblue);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: 0.2s ease-in-out
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  @media (min-width: 600px) {
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .corpus {
        margin: 10px 0;
    }

   nav {
    display: block;
    position: absolute;
    flex-direction: row;
    margin-top: 20px;
   }


   .toggle, .toggle__burger {
    display: none;
   }

   .top-nav {
    justify-content: start;
    flex-direction: row;
   }

   .nav-desk {
    display: flex;
    width: 90%;
    margin: 10px auto;
    justify-content: flex-end;
    flex-wrap: wrap;
   }

   nav a:hover {
    background-color: var(--black);
    color: var(--ltblue);
   }   

   .poster {
       width: 30%;
       align-items: center;
    }


    main, footer {
        width: 60%;
        margin: 0 auto;
    }
  }