@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --black: rgba(0,0,0,255);
    --ltblue: rgba(61,223,247,255);
    --grblue: rgb(45, 153, 170);
    --white: rgba(255,255,255,255);
    --orange: rgba(247,104,6,255);
}

body {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
main {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster {
    width: 100px;
    border-radius: 50%;
}

.title {
    height: 30px;
    margin-top: 20px;
}

article {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

button {
    background: var(--ltblue);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.20rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: var(--grblue);
    color: var(--white);
}

.logo {
    height: 45px;
}

.logo2 {
    margin-left: 25px;
}

.icons {
    text-align: right;
    font-size: 2rem;
    padding: 0 0 25px;
}

.fa-facebook-f, .fa-instagram, .fa-flickr {
    padding: 0 10px;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.fa-facebook-f:hover, .fa-instagram:hover, .fa-flickr:hover {
    color: var(--orange);
}

.footer-text {
    color: var(--white);
    text-align: start;
    font-size: 0.75rem;
    padding-top: 20px;
}

.youtube-player-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.youtube-player-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.youtube-player-popup {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -100%);
    transition: all 400ms ease;
}

.youtube-player-overlay.active .youtube-player-popup {
    transform: translate(-50%, 0);
}

.youtube-player-popup iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

